<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="SHAPES_LIST" value="draw circle -200 200 200,draw circle -200 -200 150,draw square 200 -100 202,draw square 200 50 80,draw rectangle -50 250 150 30,draw triangle 0 0 0 100 100 50,draw donut 0 0 50 80,draw donut 300 200 150 265,draw rectangle -480 300 100 600,draw triangle -50 -350 0 -100 50 -350" />
  </appSettings>
  
</configuration>